{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Anndy's Crochet{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/products/product.css') }}">
{% endblock %}
{% block content %}


    <div class="example-wrapper">
        {%  for message in app.flashes('message')%}
            <div class="error">
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="row product-container">
            <div class="col-md-5">
                <img src="/uploads/products/{{ product.illustration }}" alt="{{ product.subtitle }}" class="img-fluid">
            </div>
            <div class="col-md-7 my-auto">
                <h1>{{ product.name }}</h1>
                <p>{{ product.subtitle }}</p>
                <span class="product-page-price">{{ (product.price/100)|number_format(2,',','.') }} €</span>
                <hr>
                <p>
                    {{ product.description }}
                </p>
                <a href="{{ path('add_to_cart', { 'id' : product.id}) }}" class="btn btn-outline-primary"> Ajouter au panier</a>

            </div>
        </div>
        <hr>
        <h3>Nos meilleures ventes</h3>
        <p>Découvrez les articles les plus vendus</p>
        <div class="row">
            {% set product_current = product %}
            {% for product in products %}
                {% if product_current.id == product.id %}

                {% else %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig'%}
                </div>
                {% endif %}
            {% endfor %}
        </div><!-- /.row -->
    </div>
{% endblock %}
